<p class="text-center lead" >New article </p>

<%= form_for :article, url: articles_path do |f| %>
<fieldset class="form-group">

		<p class="lead">Title: </p>

	<textarea class="form-control" name="article[title]" id="article_title" rows="1" placeholder="Enter title"></textarea>

</fieldset>

<fieldset class="form-group">

	<p class="lead">Text: </p>

    <textarea class="form-control" name="article[text]" id="article_text" rows="3" placeholder="Enter text"></textarea><br>
    <button type="submit" class="btn btn-success">Add arlicle</button>
</fieldset>

<% end %>
